body {
    background-color: #8d4fc6;
    font-family: Arial, Helvetica, sans-serif;
}

.progressbar-container {
    width: 200px;
    height: 200px;
    margin: 100px auto;
}

.outer-box {
    width: 200px;
    height: 200px;
    display: flex;
    position: relative;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.inner-box {
    width: 160px;
    height: 160px;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
}

.progress-circle {
    fill: none;
    stroke-width: 30px;
    stroke-linecap: round;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke: url(#GradientColor);
    animation: loading 2s ease forwards;
}

@keyframes loading {

    to {
        stroke-dashoffset: var(--offset);
    }

}