* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --border: #666;
    --primary: #000;
    --text-soft: #555;
    --bg-main: #7c2433;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: var(--bg-main);
    font-family: Arial, Helvetica, sans-serif;
}

.login-container {
    width: 500px;
    margin: 2rem;
    padding: 3rem;
    display: flex;
    border-radius: 8px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 0px 3px 0px #000;
}

.login-container h2 {
    padding: .5rem;
    font-size: 3rem;
}

.login-container > p {
    margin: .5rem 0;
    font-size: 1.5rem;
    text-align: center;
    color: var(--text-soft);
}

form {
    width: 100%;
    padding: 1rem;
}

label {
    display: block;
    padding: 5px 0;
    font-size: 1.4rem;
    font-weight: bold;
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: .8rem;
    border: 1px solid var(--border);
}

.input:focus {
    outline: 2px solid rgb(0,153,255);
}

.options {
    display: flex;
    padding: .5rem;
    font-size: 0.9rem;
    align-items: center;
    justify-content: space-between;
}

.options a:hover {
    color: rgb(172, 4, 4);
}

.remember {
    display: flex;
    gap: 5px;
    font-size: 1.2rem;
    font-weight: normal;
    align-items: center;
}

.btn {
    width: 100%;
    border: none;
    padding: 15px 0;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
}

.btn-login {
    color: #fff;
    font-size: 1.2rem;
    background-color: var(--primary);
}

.providers {
    display: flex;
    gap: 10px;
    margin-top: 30px;
    text-align: center;
    flex-direction: column;
}

.providers button {
    font-size: 1.2rem;
}

.providers > span {
    font-size: 1.2rem;
    margin-bottom: .5rem;
    color: var(--text-soft);
}

.google-provider {
    background: #eee;
    border: 1px solid var(--border);
}

.google-provider:hover {
    background: rgb(212,212,212);
}

.facebook-provider {
    color: #fff;
    background: rgb(10,82,216);
}

.facebook-provider:hover {
    background: rgb(6,61,163);
}

.twitter-provider {
    color: #fff;
    background: rgb(10,168,216);
}

.twitter-provider:hover {
    background: rgb(7,133,172);
}