body {
    background-color: rgb(0, 86, 57);
}

.rating {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

.item {
    width: 50px;
    height: 50px;
    cursor: pointer;
    mask-image: url(star.svg);
    -webkit-mask-image: url(star.svg);
    background-color: rgb(198, 198, 198);
}
  
.item-full {
    background-color: rgb(234, 187, 16);
}